extends include/template

block title
	title Specials
block style
	+addCss(['style', 'home'])
block content
	main.wraper
		section#react__component
block script
	+addJs(['script', 'bundle'])

		