footer.footer
	div.footer__menu.wraper.menu
		+addList({'Home':'index.html', 'What\'s new':'whatsNew.html', 'Specials':'specials.html', 'My Account':'account.html', 'Contacts':'contacts.html'}, 'menu__list', 'menu__list_item')
