.tabs
	.tabs__menu
		.tabs__menu_item(data-tabs='tabs-1')
			a.menu-item__button(href='#')
			span 50% Discount Insanity
		.tabs__menu_item(data-tabs='tabs-2')
			a.menu-item__button(href='#')
			span Premium Products
		.tabs__menu_item(data-tabs='tabs-3')
			a.menu-item__button(href='#')
			span Exclusive Offer
		.tabs__menu_item(data-tabs='tabs-4')
			a.menu-item__button(href='#')
			span Red Hot Stuff
		.tabs__menu_item(data-tabs='tabs-5')
			a.menu-item__button(href='#')
			span Summertime Discount
	.tabs__image
		#tabs-1.tabs__image_item
			img(src='image/device.png')
		#tabs-2.tabs__image_item
			img(src='image/monitor.png')
		#tabs-3.tabs__image_item
			img(src='image/proector.png')
		#tabs-4.tabs__image_item
			img(src='image/mp3player.png')
		#tabs-5.tabs__image_item
			img(src='image/camera.png')
