.tabs__content
	.tabs__menu
		.tabs__menu_item.tabs__menu_active(data-tabs='tabs-1')
			a.menu-item__button(href='#')
			span 50% Discount Insanity
		.tabs__menu_item(data-tabs='tabs-2')
			a.menu-item__button(href='#')
			span Premium Products
		.tabs__menu_item(data-tabs='tabs-3')
			a.menu-item__button(href='#')
			span Exclusive Offer
		.tabs__menu_item(data-tabs='tabs-4')
			a.menu-item__button(href='#')
			span Red Hot Stuff
		.tabs__menu_item(data-tabs='tabs-5')
			a.menu-item__button(href='#')
			span Summertime Discount
	.tabs__image
		#tabs-1.tabs__image_item
			.content
				p.title_second Huge discounts
				p.text and only one promo day!
				p.title Don’t hesitate!
		#tabs-2.tabs__image_item
			.content
				p.text Nice chance to get what you want!
				p.title_second Discounts for new items
				p.title are active!
		#tabs-3.tabs__image_item
			.content
				p.text Great Promo for all mobile fans!
				p.title Don’t miss!
		#tabs-4.tabs__image_item
			.content
				p.text Welcome high-grade solutions
				p.title at a 10% discount
		#tabs-5.tabs__image_item
			.content
				p.title Check out
				p.title_second 20%
				p.text discount for all items during summertime!

