include mixins
doctype html
html
	head
		block title
		meta(charset="utf-8")
		block style
		script(src='https://cdn.firebase.com/js/client/2.4.2/firebase.js').
	body
		include header
		block content
		include footer
		block script
